.div1{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 108px;
    width: 90%;
    height: 100px;
    top: 73px;
    left: 91px;
    display: flex
;
    /* margin: 10px; */
    text-align: center;
    align-items: center;
    justify-content: space-around;
    /* margin-block-start: -964px; */
    background-color: #8c8c8cb8;
    margin: auto;
}
h3{
    font-family: 'Days One';
    font-size: 40px;
    line-height: 100%;
    padding: 100px 0px 0px 0px ;
    margin-bottom: -40px;
    margin: -20px 50px;
}
h2{
    margin: 50px;
    font-family: 'Days One';
    font-size: 64px;
    line-height: 100%; 
}
.image1{
display: flex;
}
.div2{
   text-align: left;
   padding-left: 50px;
}
.button1{
    background-color:hsla(240, 100%, 16%, 1) ;
    color: aliceblue;
    width:198px ;
    height:57px;
    top: 467px;
    border-radius: 10px;
    margin: 20px ;
    margin: 15px 75px 0px 50px;
}
.image2{
    margin: 1px 0px -8px -62px;
    color: white;
    height: 29px;
    width: 185px;
}   
.View-Projects{
    padding:20px 0px 0px 50px;
}
.svg{
    padding: 0px 275px 0px 51px;
    margin: 0px 0px 0px -455px;
}
.sec1{
    width: 100%;
    height: 1021px;
    background: linear-gradient(to right, rgba(32, 32, 106, 0.882), rgba(104, 104, 171, 0.52), rgba(0, 0, 104, 0.22)), url(/Group\ 31.png);
    padding: 40px 0px;
}
.p1{
    width: 500px;
    size: 22px;
    font: Gilroy-Medium;
    margin: 50px
}
.img-mohandes{
    width: 504px;
    height: 445px;
   box-shadow:#000053  150px 70px 0px 0px;
}
.img-about{

}
.h3-about{
    align-items: center;
    text-align: center;
    margin: -40px 0px 0px 0px;;
}
.sec2{
    width: 1296px;
    height: 892px;
    top: 1118px;
    left: 108px;
}
h3{
    margin: 20px 0px 50px 0px;
}
.p-about{
    width: 330px;
    height: 615px;
    size: 29px;
    font: bold;
    line-height: 100%;
}

.mysection{
    /* background-color: #000053; */
    padding: 100px 0;
    /* background-image: url(/Group\ 31.png); */
    background: linear-gradient(to right, rgba(32, 32, 106, 0.882), rgba(104, 104, 171, 0.52), rgba(0, 0, 104, 0.22)), url(/Group\ 31.png);
}